.header
  .header__main
    .header__main__logoBox
      = link_to root_path do
        = image_tag "/logo.png", alt: "ロゴ", class: "logoImg"
    .header__main__searchBox
      .header__main__searchBox--form
        %input.searchForm{placeholder: "キーワードから探す"}
      .header__main__searchBox--icon
        %button.searchButton{type: "submit"}
          = image_tag "/icon-search 1.png", alt: "検索", class: "searchIcon"
  .header__sub
    .header__sub__leftBox
      %ul.header__sub__leftBox__list
        %li.header__sub__leftBox__list__categoryMenu
          = link_to "カテゴリー", root_path
          %ul.header__sub__leftBox__list__categoryMenu__secondLevel
            - @parents.each do |parent|
              %li.header__sub__leftBox__list__categoryMenu__secondLevel--list
                = link_to parent.name, root_path
                %ul.header__sub__leftBox__list__categoryMenu__thirdLevel
                  - parent.children.each do |child|
                    %li.header__sub__leftBox__list__categoryMenu__thirdLevel--list
                      = link_to child.name, root_path
                      %ul.header__sub__leftBox__list__categoryMenu__fourthLevel
                        - child.children.each do |grandchild|
                          %li.header__sub__leftBox__list__categoryMenu__fourthLevel--list
                            = link_to grandchild.name, root_path
    .header__sub__rightBox
      %ul.header__sub__rightBox__list
        - if !current_user
          %li.header__sub__rightBox__list--login
            = link_to "ログイン", new_user_session_path
          %li.header__sub__rightBox__list--registration
            = link_to "新規会員登録", new_user_registration_path
        - else
          %li.header__sub__rightBox__list--logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.header__sub__rightBox__list--myPage
            = link_to "マイページ", root_path
