.sample
  = form_with model: @item, local: true do |form|
    .sample__image
      = form.fields_for :images do |image|
        = image.file_field :src
    .sample__name
      = form.text_field :name, placeholder: "商品名（必須 40文字まで)"
    .sample__description
      = find_and_preserve(form.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。")
    .
    .sample_submit
      = form.submit
