=render "shared/header"
%nav.navbar
  %ul
    %li
      =link_to root_path do
        FURIMA
    %li
      =icon("fas","angle-right")
    %li
      =link_to "#" do
        #{@category.root.name}
    %li
      =icon("fas","angle-right")
    %li
      = link_to "#" do
        #{@category.parent.name}
    %li
      =icon("fas","angle-right")
    %li
      =link_to "#" do
        #{@category.name}
    %li
      =icon("fas","angle-right")
    %li
      #{@item.name}
.itemShow
  .itemShow__itemBox
    %h2.itemShow__itemBox__title #{@item.name}
    .itemShow__itemBox__imageBox
      %ul
        %li
          = link_to image_tag(@item.images.first.image_url, alt: "フリマ""商品ページ")
          %ul
            %li
              -if (@item.images.second)
                = link_to image_tag(@item.images.second.image_url, alt: "フリマ""商品ページ")
            %li
              -if (@item.images.third)
                = link_to image_tag(@item.images.third.image_url, alt: "フリマ""商品ページ")
            %li
              -if (@item.images.fourth)
                = link_to image_tag(@item.images.fourth.image_url, alt: "フリマ""商品ページ")
    .itemShow__itemBox__price
      %span ¥#{@item.price}
    .itemShow__itemBox__priceDetail
      %span (税込)
      %span 送料込み
    .itemShow__itemBox__itemDetail #{@item.description}
    .itemShow__itemBox__tbody
      %table
        %tr
          %th 出品者
          %td #{@item.user.nickname}
        %tr
          %th カテゴリー
          %td #{@category.root.name} #{icon("fas","angle-right")} #{@category.parent.name} #{icon("fas","angle-right")} #{@category.name}
        %tr
          %th
          %td
        %tr
          %th ブランド
          %td
        %tr
          %th 商品のサイズ
          %td
        %tr
          %th 商品の状態
          %td #{@item.condition.name}
        %tr
          %th 配送料の負担
          %td #{@item.shipping_cost_side.name}
        %tr
          %th 発送元の地域
          %td #{@item.prefecture.name}
        %tr
          %th 発送日の目安
          %td #{@item.shipping_days.name}
    - if current_user.id == @item.user_id
      .itemShow__itemBox__Btnlist
        = link_to edit_item_path do
          %button.itemShow__itemBox__Btnlist__editBtn
            商品の編集
        = link_to item_path(@item.id), method: :delete do
          %button.itemShow__itemBox__Btnlist__deleteBtn
            この商品の削除
    - else
      .itemShow__itemBox__Btnlist
        -if @card.blank?
          = link_to new_card_path do
            %button.itemShow__itemBox__Btnlist__buyBtn
              購入画面に進む
        -else
          = link_to  item_purchase_index_path(@item.id) do
            %button.itemShow__itemBox__Btnlist__buyBtn
              購入画面に進む
    .itemShow__itemBox__optionalArea
      %button.itemShow__itemBox__optionalArea__likeBtn
        = icon("fas","star")
        お気に入り 0
      %button.itemShow__itemBox__optionalArea__reportBtn
        = link_to "#" do
          = icon("fas","flag")
          不適切な商品の通報
  .itemShow__commentBox
    = form_with model: @comment, local: true do |form|
      = find_and_preserve(form.text_area :text)
      %p.noticeMsg
        相手のことを考え丁寧なコメントを心がけましょう。
        %br
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.itemShow__commentBox__btn
        = icon("fas","comment")
        コメントする
  %ul.itemShow__Go
    %li
      -if (@item.previous)
        = link_to item_path(@item.previous) do
          =icon("fas","angle-left")
          %span 前の商品
      -else
        = link_to item_path(@item.id) do
          =icon("fas","angle-left")
          %span 前の商品
    %li
      -if (@item.next)
        = link_to item_path(@item.next) do
          %span 後ろの商品
          =icon("fas","angle-right")
      -else
        = link_to item_path(@item.id) do
          %span 後ろの商品
          =icon("fas","angle-right")
  .itemShow__moreinfor
    = link_to "#" do
      メンズをもっと見る
=render "shared/footer"
