= render "/shared/header"
.header_sub
  = link_to root_path, class: "link_edit" do
    フリマ 
  = link_to users_path, class: "link_edit" do
    = icon('fa', 'chevron-right', class: "header_sub_icon") 
    マイページ
  = link_to new_card_path, class: "link_edit" do
    支払い方法
  = icon('fa', 'chevron-right', class: "header_sub_icon") 
  クレジットカード情報入力
.MyPage
  .MyPage__box
    = render "users/left"
    .card__input
      .content__title
        クレジットカード情報入力
      .content__credit-card
        .content__credit-card__inner
          = form_with url: "#", method: :post, html: { name: "inputForm" } do |f|
            .content__credit-card__inner__label 
              = f.label :カード番号, class: 'label'
              %span 必須
            .content__credit-card__inner__text_field
              = f.text_field :card_number, type: 'text', class: 'input-number', placeholder: '半角数字のみ', maxlength: "16"
            .card-list
              = image_tag 'https://www.city.tsukubamirai.lg.jp/manage/contents/upload/5d49214a37cae.jpg', size: '300x50', alt: 'カード'
            .cards-expire
              .content__credit-card__inner__label
                = f.label :有効期限, class: 'label'
                %span 必須
              .cards-expire__wrap__box
                .cards-expire__wrap
                  = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-expire'
                  %span.expire-text 月
                  %br
                .cards-expire__wrap
                  = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-expire'
                  %span.expire-text 年
            .cards-expire
              .content__credit-card__inner__label.selected
                = f.label :セキュリティコード, class: 'label'
                %span 必須
              = f.text_field :cvc, type: 'text', class: 'input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
            .content-bottom#card_token
              = link_to root_path do
                = f.submit '追加する', class: 'content-bottom--add-btn', id: 'token_submit'
                = link_to "今はしない", root_path, class:"registration-main__for-sign-up__btn"
= render "/shared/footer" 